@use '../../styles/mixins.scss' as *;
.g-button {
	@include basic;
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	padding: 4px 12px;
	outline: none;
	border: 1px solid #ddd;
	border-bottom-color: #ccc;
	border-radius: $radius-m;
	background: #fff;
	user-select: none;
	cursor: pointer;
	
	&-inner-ml {
		margin-left: 8px;
	}
	&-small {
		height: 24px;
		&.g-button-circle,
		&.g-button-square {
			width: 24px;
		}
	}
	&-medium {
		height: 32px;
		&.g-button-circle,
		&.g-button-square {
			width: 32px;
		}
	}
	&-large {
		height: 40px;
		&.g-button-circle,
		&.g-button-square {
			width: 40px;
		}
	}
	&:active {
		filter: brightness(0.9);
	}
	&-primary {
		border: 1px solid $color-primary;
		background: $color-primary;
		color: #fff;
	}
	&-text {
		background: transparent;
		border: none;
		&:hover {
			background: rgba($color: #000, $alpha: 0.06);
		}
		&:active {
			background: rgba($color: #000, $alpha: 0.09);
		}
	}
	&-round {
		border-radius: $round;
	}
	&-circle {
		padding: 0;
		width: 32px;
		border-radius: $round;
	}
	&-square {
		padding: 0;
		width: 32px;
		border-radius: $radius-m;
	}
	&-disabled {
		cursor: not-allowed;
		opacity: 0.6;
		pointer-events: none;
	}
}
