body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	overflow: hidden;
	font-size: var(--g-text-font-size-m);
	color: var(--g-text-1);
}

:root {
	--g-text-1: #1f2329;
	--g-radius-s: 4px;
	--g-radius-m: 8px;
    --g-radius-l: 12px;
	--g-text-font-size-m: 14px;
	/* 
	--g-primary-color: #1890ff;
	*/
}
