@use '../../styles/mixins.scss' as *;
.g-checkbox {
	@include basic;
	position: relative;
	display: flex;
	align-items: center;
	width: max-content;
	user-select: none;
	transition: filter $duration-f;
	&-input {
		padding: 0;
		outline: 0;
		border: 0;
	}
	&-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1em;
		height: 1em;
		border: 1px solid #ddd;
		border-bottom-color: #ccc;
		border-radius: $radius-s;
		background: #fff;
		transition: all ease-out $duration-f;
		margin-right: 8px;
		&-inner {
			color: #fff;
			transition: all ease-out $duration-f;
			transform: scale(0);
		}
	}
	&-checked {
		.g-checkbox-icon {
			background: $color-primary;
			border-color: $color-primary;
			&-inner {
				transform: scale(1);
			}
		}
	}
	&-disabled {
		cursor: not-allowed;
		opacity: $opacity-disabled;
	}
	&:not(&-checked):not(&-disabled) {
		&:hover {
			filter: brightness(0.95);
		}
		&:active {
			filter: brightness(0.9);
		}
	}
	&-small {
		.g-checkbox-icon {
			font-size: 12px;
		}
	}
	&-medium {
		.g-checkbox-icon {
			font-size: 16px;
		}
	}
	&-large {
		.g-checkbox-icon {
			font-size: 20px;
		}
	}
}
