@use '../../styles/mixins.scss' as *;

.g-tooltip-content {
	@include basic;
	width: max-content;
	padding: 4px 8px;
	border-radius: $radius-m;
	box-shadow: $shadow-m;
	font-size: $text-font-size-s;
	&-light {
		color: $text-1;
		background: #fff;
		border: 1px solid #ddd;
		border-bottom-color: #ccc;
	}
	&-dark {
		color: #fff;
		background: $text-1;
	}
}
