@use '../../styles/mixins.scss' as *;
@use '../../styles/polyfills.scss' as *;
.g-modal {
	@include basic;
	z-index: 1000;
	position: fixed;
	@include inset(0, 0, 0, 0);
	&-mask {
		position: fixed;
		@include inset(0, 0, 0, 0);
		background: rgba($color: #000000, $alpha: 0.5);
	}
	&-wrap {
		position: fixed;
		@include inset(0, 0, 0, 0);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
