@use '../../styles/mixins.scss' as *;
.g-radio-group {
	@include basic;
	width: max-content;
	&-disabled {
		cursor: not-allowed;
	}
	&-tab {
		display: flex;
		background: #eee;
		padding: 2px;
		border-radius: calc($radius-m + 2px);
	}
}
