@use '../../styles/mixins.scss' as *;
.g-toast-item {
	@include basic;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom-color: #ccc;
	border-radius: $radius-m;
	box-shadow: $shadow-m;
	& + .g-toast-item {
		margin-top: 8px;
	}
	&-icon {
		margin-left: 8px;
	}
	&-title-wrap {
		flex: 1;
		display: flex;
		justify-content: center;
		margin: 0 16px;
	}
}
