@use '../../styles/mixins.scss' as *;
.g-card {
	@include basic;
	display: flex;
	flex-direction: column;
	width: 480px;
	border-radius: $radius-l;
	background: #fff;
	&-bordered {
		border: 1px solid #ddd;
		border-bottom-color: #ccc;
	}
	&-shadow {
		box-shadow: $shadow-m;
	}
	&-header {
		padding: 24px 24px 0 24px;
	}
	&-content {
		padding: 24px;
	}
	&-footer {
		padding: 0 24px 24px 24px;
	}
	&-cover {
		overflow: hidden;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		width: 100%;
		img {
			display: block;
			width: 100%;
		}
	}
}
